<section class=" container alert colorPrimary " role="alert">

    <article class=" bloc_actor row  pl-2">

            <img class = "col-lg-2 col-md-3 col-sm-6 m-auto pictureActor mg-thumbnail rounded" src="{{postPicture}}" alt="">

            <div class=" col-lg-10 col-md-9 col-sm-12 d-flex flex-column justify-content-between " > 
                
                <div class="mb-2">
                    <h2 class="m-0 text-center  text-md-left" >{{ postName}} </h2>
                    <p class="text-center  text-md-left">{{ postJob}}</p> 
                </div>    
                
                <div class="">
                    <p class="mb-2">{{ postContent | slice:0:500}}</p>
                </div>

                <div class=" d-flex align-items-end">
                    <a class="details" routerLink="../postview/{{postId}}">Plus de détails</a>
                    <div class="ml-auto">    
                        <i class="fas fa-thumbs-up m-2 p-2 " (click)="clVert()" [ngClass] ="{'colorGreen': green === true }"></i>
                        <i class="fas fa-thumbs-down m-2 p-2" (click)="clRouge()"[ngClass] ="{'colorRed': red === true }"></i>
                    </div>
                </div>

            </div>


        </article>

    

</section>