/* You can add global styles to this file, and also import other style files */
$colorPrimary:rgba(154,154,143,1);

.returnLink{
    display: block;
    padding: 20px;
    text-decoration: none;
    color:#333;
}