<h2 class="blocTitle col-12 text-center">Authentification</h2>


<div class=" container blocAuth d-flex  justify-content-center align-items-end">

    <div class="col-12 blocCard ">

        <div class="card col-4 m-auto">

            <div class="card-body" *ngIf = "!authstatus" >
                <label for = "mail">Votre adresse mail : </label>
                <input type="text" id = "mail" class="col-12">
                <br>
                <div class="row d-flex justify-content-center">
                    <button class="btn btn-success mt-3" (click)="onsignIn()"> Se connecter </button>
                </div>
            </div>

            <div class="card-body d-flex flex-column justify-content-center" *ngIf = "authstatus" >
                <hr>
                <button class="btn btn-danger" (click)="onsignOut()" > Se déconnecter </button>
            </div>

        </div>
    </div>