<section class="container bloc-actor-alone pt-4">

    <section class="container bloc-actor-aloneBis p-4 ">

        <article class="d-md-flex justify-content-between mb-3">

            <article class=" ">
                <h2 >{{ posts[idPost].name}} </h2>
                <em>{{ posts[idPost].job}}</em>
                <div class="d-flex flex-column">
                    <em>{{ posts[idPost].birth}}</em>
                    <em >{{ posts[idPost].age}}</em>
                    <em>{{ posts[idPost].nationality}}</em>
                </div>
                
            </article>

            <img src="{{posts[idPost].picture}}" class = "ml-auto" alt="">

        </article>

        <article class="col-sm-12 p-0">
            <p class="text-justify">{{ posts[idPost].content}}</p>
        </article>

    </section>
</section>