<!-- <div class="col-sm-12">

        <div class="col-sm-12 d-flex justify-content-between mb-5">
            <h2 >{{ postName}} </h2>
            <em>{{ postJob}}</em>
            <div class="d-flex flex-column">
                <em>{{ postBirth}}</em>
                <em >{{ postAge}}</em>
                <em>{{ postNationality}}</em>
            </div>
            
        </div>

        <img src="{{postPicture}}" alt="">

        <div class="col-sm-12">
            <p>{{ postContent }}</p>
            <a class="comm" >Voir Plus de détails</a>
        </div>
    </div> -->