<section class="container bloc-actor-alone pt-4">

    <section class="container bloc-actor-aloneBis p-4 ">

        <article class="d-md-flex justify-content-between mb-3">

            <article class=" ">
                <h2 >{{post[0].name}} </h2>
                <em>{{ post[0].job}}</em>
                <div class="d-flex flex-column">
                    <em>{{ post[0].birth}}</em>
                    <em >{{ post[0].age}}</em>
                    <em>{{ post[0].nationality}}</em>
                </div>
                
            </article>

            <img src="{{post[0].picture}}" class = "ml-auto" alt="">

        </article>

        <article class="col-sm-12 p-0">
            <p class="text-justify">{{post[0].content}}</p>
        </article>

    </section>
</section>