$colorPrimary:rgba(154,154,143,1);

.blocBody{

    background-image: url("/assets/pierres.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 88vh;

}

.blocFooter{
    background-color:$colorPrimary!important;
    height: 60px;  
}